@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-primary: "industry", sans-serif;
        --font-secondary: Georgia, "Times New Roman", Times, serif;
    }

    body {
        font-family: var(--font-secondary);
    }
}
