select {
    appearance: none; /* Removes default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 100%;
    height: 50px;
    
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    color: #898989;
    border: 2px solid #8989897D;
    border-radius: 20px;
    
    background-color: white;
    background-image: url('../../assets/Arrow.svg'); /* Use your SVG file */
    background-repeat: no-repeat;
    background-position: right 15px center; /* Positioning the arrow */
    background-size: 20px; /* Adjust the size */
}

.background {
    background:#E8F6FF;    
    height: 100vh; /* Full height */
    width: 100%; /* Full width */
}

.header {
    padding-top: 5%;
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.dropContainer {
    padding-top: 10%;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 502px;
    height: 61px;
    
    border: 2px solid;
    border-color: #8989897D;
    border-radius: 20px;

    margin: auto;
    margin-bottom: 1%;

    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 15px;
}
